{% extends "/html/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}
<div id="posts">
 <div class="container">
   <div id="page-header">
        <h2>Archives</h2>
   </div>
   <div class="row">
    <div class="col-lg-9">
        {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul>
        {% for post in group.posts %}
        <li>
            {{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
   </div>     
    
   
    <div class="col-md-3">
        <div id="sidebar">
            <h3>Links</h3>
            <ul id="links">
                <li><a href="http://cryogenweb.org/docs/home.html">Cryogen Docs</a></li>
                <li><a href="http://carmenla.me/blog/archives">Carmen's Blog</a></li>
                {% for page in sidebar-pages %}
                <li><a href="{{page.uri}}">{{page.title}}</a></li>
                {% endfor %}
            </ul>
            {% if latest-posts|not-empty %}
            <div id="recent">
                <h3>Recent Posts</h3>
                <ul>
                    {% for post in latest-posts %}
                    <li><a href="{{post.uri}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if tags|not-empty %}
            <div id="tags">
                <h3>Tags</h3>
                <ul>
                    {% for tag in tags %}
                    <li><a href="{{tag.uri}}">{{tag.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
 </div>

</div>
{% endblock %}
